@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  /* font-size: 0; */
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F8F8FC;
}
nav {
    transition: all 0.3s ease;
}
.navbar-toggler, .navbar-toggler::after, form input {
    outline: none !important;
}
.btn {
    background-color: #844987;
}
.btn:hover {
    background-color: #96539A;
}
.fa-at, .fa-clock, .fa-square-phone, .fa-location-dot, .fa-envelope {
    color: #844987;
    font-size: 13px;
}
input, select, textarea {
    font-size: 12px !important;
}
.warningCheck, .btn {
    font-size: 13px;
}

@media (min-width: 768px) {
    input, select, textarea {
        font-size: 14px !important;
    }
    .warningCheck {
        font-size: 13px;
    }
    .btn {
        font-size: 14px;
    }
    iframe {
        height: 460px;
        margin-top: -45px;
    }
}